h1 {
  font: normal 72px "Open Sans"; }

.petit-carre-bleu {
  width: 20px;
  height: 20px;
  background-color: blue; }

.gros-carre-rouge {
  width: 100px;
  height: 100px;
  background-color: red; }

#presentation {
  color: green;
  font-weight: bold; }
  #presentation ul {
    border: 1px solid black; }
    #presentation ul li:nth-child(odd) {
      color: red; }

.operations {
  background-color: green;
  color: white;
  width: 400px; }

.operations:hover {
  background-color: #004d00; }

.submit-button, .confirm {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: blue;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  padding: 12px 40px;
  cursor: pointer; }

.confirm {
  background-color: red; }

/*# sourceMappingURL=style.css.map */